
pip
joblib
matplotlib
openpyxl
pandas
pillow
scipy
seaborn
statsmodels
streamlit
streamlit-pandas-profiling
setuptools
sweetviz
xgboost
ydata-profiling
scikit-learn
numpy
Cython
phik==0.12.3
visions
pandas-profiling