
joblib
matplotlib
openpyxl
pandas
pillow
scipy
seaborn
statsmodels
streamlit
streamlit-pandas-profiling
setuptools
visions==0.7.1
pandas-profiling
sweetviz
xgboost
ydata-profiling
scikit-learn
numpy
Cython
